{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Project Harvey Admin</title>

  <!-- TailwindCSS -->
  {% tailwind_css %}

  <!-- FontAwesome Icons -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  />


</head>

<body class="bg-gray-100 font-sans">
 

    <!-- Main Content -->
    <main class="flex-1 bg-gray-50 p-8 overflow-y-auto">
      {% block content %}
      <!-- Page content gets injected here -->
      {% endblock %}
    </main>
  </div>
</body>
</html>
